In [1]:
## Import
import pandas as pd
from pandas.plotting import autocorrelation_plot
import numpy as np
import matplotlib.pyplot as plt
import math
import copy
from scipy import stats

In [3]:
import os
main_data_path = r"C:\Users\erkay\B2Metric_Case\home-credit-default-risk"
bureau_dataset_path = os.path.join(main_data_path,"bureau.csv")
df_bureau           = pd.read_csv(bureau_dataset_path)

In [5]:
column_names = df_bureau.columns[4:]
column_names = np.delete(column_names,-3)

In [6]:
columns = (['SK_ID_CURR','NUM_CREDIT_ACTIVE','NUM_CREDIT_CLOSED','CREDIT_CURRENCY','CREDIT_TYPE']+ column_names.to_list())
print(len(columns))

17

In [7]:
unique_bureau_ids = df_bureau["SK_ID_CURR"].unique()

df_balance_unique = pd.DataFrame(columns=(['SK_ID_CURR','NUM_CREDIT_ACTIVE','NUM_CREDIT_CLOSED','CREDIT_CURRENCY','CREDIT_TYPE']+ column_names.to_list()))
temp_index = 0
for unique_id in unique_bureau_ids:
    if temp_index%100==0:
        print(temp_index)
    temp_df = df_bureau[df_bureau["SK_ID_CURR"]==unique_id]
    temp_active = (temp_df["CREDIT_ACTIVE"]=="Active").sum()
    temp_closed = (temp_df["CREDIT_ACTIVE"]=="Closed").sum()
    temp_currency = temp_df["CREDIT_CURRENCY"].mode()
    temp_credit_type = temp_df["CREDIT_TYPE"].mode()
    temp_df_amt   = temp_df[column_names].mean(axis=0)
    # append rows to an empty DataFrame
    df_balance_unique.loc[temp_index,"SK_ID_CURR"] = unique_id
    df_balance_unique.loc[temp_index,"NUM_CREDIT_ACTIVE"] = temp_active
    df_balance_unique.loc[temp_index,"NUM_CREDIT_CLOSED"] = temp_closed
    df_balance_unique.loc[temp_index,"CREDIT_CURRENCY"] = temp_currency[0]
    df_balance_unique.loc[temp_index,"CREDIT_TYPE"] = temp_credit_type[0]
    df_balance_unique.loc[temp_index,column_names]  = temp_df_amt
    temp_index = temp_index + 1

0
100
200
300
400
500
600
700

KeyboardInterrupt:

In [8]:
df_balance_unique = pd.read_csv('balance_unique_preprocessed.csv')

In [9]:
df_balance_unique

,SK_ID_CURR,BALANCE_CREDIT_ACTIVE,BALANCE_CREDIT_CLOSED,BALANCE_IT_CURRENCY,BALANCE_IT_TYPE,BALANCE__CREDIT,BALANCE_IT_DAY_OVERDUE,BALANCE__CREDIT_ENDDATE,BALANCE__ENDDATE_FACT,BALANCE_CREDIT_MAX_OVERDUE,BALANCE_CREDIT_PROLONG,BALANCE_CREDIT_SUM,BALANCE_CREDIT_SUM_DEBT,BALANCE_CREDIT_SUM_LIMIT,BALANCE_CREDIT_SUM_OVERDUE,BALANCE__CREDIT_UPDATE,BALANCE_ANNUITY
0,215354,6,5,currency 1,Consumer credit,-727.818182,0.0,2685.300000,-889.8,25891.500,0.0,5.430859e+05,47410.53,36327.540,0.0,-367.272727,NaN
1,162297,3,3,currency 1,Consumer credit,-1344.500000,0.0,245.500000,-1125.0,2997.000,0.0,1.371731e+06,0.00,0.000,0.0,-777.833333,NaN
2,402440,1,0,currency 1,Consumer credit,-96.000000,0.0,269.000000,NaN,0.000,0.0,8.991000e+04,76905.00,0.000,0.0,-22.000000,NaN
3,238881,3,5,currency 1,Consumer credit,-914.750000,0.0,-521.166667,-847.2,0.000,0.0,1.606549e+05,92121.75,57080.025,0.0,-530.625000,NaN
4,222183,5,3,currency 1,Consumer credit,-959.125000,0.0,327.625000,-1099.0,21924.954,0.0,8.948700e+05,197513.64,82.332,0.0,-618.875000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305806,207190,0,1,currency 1,Consumer credit,-532.000000,0.0,45.000000,-227.0,NaN,0.0,4.500000e+05,0.00,0.000,0.0,-31.000000,NaN
305807,324956,0,1,currency 1,Consumer credit,-381.000000,0.0,-199.000000,-199.0,0.000,0.0,1.980000e+04,0.00,0.000,0.0,-199.000000,0.0
305808,448157,1,0,currency 1,Mortgage,-1441.000000,0.0,2197.000000,NaN,NaN,0.0,1.800000e+06,1076809.50,0.000,0.0,-2.000000,NaN
305809,345866,0,1,currency 1,Consumer credit,-375.000000,0.0,-41.000000,-19.0,NaN,0.0,1.750545e+05,NaN,NaN,0.0,-4.000000,17140.5
305810,235871,0,1,currency 1,Consumer credit,-2724.000000,0.0,-2511.000000,-2511.0,0.000,0.0,1.012500e+05,0.00,0.000,0.0,-2510.000000,NaN

In [10]:
col_new = []
for col in df_balance_unique.columns:
    if col != "SK_ID_CURR":
        col_new.append("BUREAU_"+col[8:])
    else:
        col_new.append("SK_ID_CURR")

In [15]:
col_new[-2]='BUREAU_CREDIT_UPDATE'
col_new[5] ='BUREAU_CREDIT'
col_new[7] = 'BUREAU_CREDIT_ENDDATE'
col_new[8] = 'BUREAU_ENDDATE_FACT'
col_new

['SK_ID_CURR',
 'BUREAU_CREDIT_ACTIVE',
 'BUREAU_CREDIT_CLOSED',
 'BUREAU_IT_CURRENCY',
 'BUREAU_IT_TYPE',
 'BUREAU_CREDIT',
 'BUREAU_IT_DAY_OVERDUE',
 'BUREAU_CREDIT_ENDDATE',
 'BUREAU_ENDDATE_FACT',
 'BUREAU_CREDIT_MAX_OVERDUE',
 'BUREAU_CREDIT_PROLONG',
 'BUREAU_CREDIT_SUM',
 'BUREAU_CREDIT_SUM_DEBT',
 'BUREAU_CREDIT_SUM_LIMIT',
 'BUREAU_CREDIT_SUM_OVERDUE',
 'BUREAU_CREDIT_UPDATE',
 'BUREAU_ANNUITY']

In [16]:
df_balance_unique.columns = col_new

In [17]:
df_balance_unique
df_balance_unique.to_csv('bureau_unique_preprocessed.csv', index=False)